<div>
  <form class="form-login" >
      <h3 class="h3 mb-3 font-weight-normal text-center">Login</h3>
      <div class="form-group">
          <label>username</label>
          <input type="text" class="form-control" name="username" [(ngModel)]="utilisateur.username" placeholder="Enter username" required>
      </div>
      <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="utilisateur.password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-block btn-primary" (click)="loginUser()">Login!</button>
  </form>
</div>
